rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default rule: reject anything not explicitly permitted
    match /{document=**} {
      allow read, write: if false;
    }

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Profiles Collection
    match /users/{userId} {
      // Any authenticated user can read other user profiles
      allow read: if isSignedIn();
      
      // Users can write their own profile, and admins can write any user profile
      allow write: if isSignedIn() && (request.auth.uid == userId || isAdmin());
    }
  }
}
